/* Variables */
.ArcDropdown,
.ArcDropdown.ArcSizeDefault,
.ArcSizeDefault .ArcDropdown {
  --ArcDropdown-minHeight: var(--ARC-sizing-inputElement-height);
  --ArcDropdown-fontSize: var(--ARC-sizing-fontSize);
  --ArcDropdown-labelSize: var(--ARC-sizing-labelSize);
  --ArcDropdown-horizontalSpace: var(--ARC-sizing-horizontalSpace);
  --ArcDropdown-verticalSpace: var(--ARC-sizing-verticalSpace);
}

.ArcDropdown.ArcSizeCompact,
.ArcSizeCompact .ArcDropdown {
  --ArcDropdown-minHeight: var(--ARC-sizing-compact-inputElement-height);
  --ArcDropdown-fontSize: var(--ARC-sizing-compact-fontSize);
  --ArcDropdown-labelSize: var(--ARC-sizing-compact-labelSize);
  --ArcDropdown-horizontalSpace: var(--ARC-sizing-compact-horizontalSpace);
  --ArcDropdown-verticalSpace: var(--ARC-sizing-compact-verticalSpace);
}

.ArcDropdown.ArcSizeLarge,
.ArcSizeLarge .ArcDropdown {
  --ArcDropdown-minHeight: var(--ARC-sizing-large-inputElement-height);
  --ArcDropdown-fontSize: var(--ARC-sizing-large-fontSize);
  --ArcDropdown-labelSize: var(--ARC-sizing-large-labelSize);
  --ArcDropdown-horizontalSpace: var(--ARC-sizing-large-horizontalSpace);
  --ArcDropdown-verticalSpace: var(--ARC-sizing-large-verticalSpace);
}

/* Styles */
.ArcDropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: var(--ArcDropdown-fontSize);
  min-width: 80px;
  border: 1px solid var(--color-border);
  position: relative;

  select {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    appearance: none;
    outline: none;
    font-size: var(--ArcDropdown-fontSize);
    line-height: normal;
    background: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    opacity: 0;
  }

  .InfoIcon {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
  }

  &.focused {
    border-color: var(--primary);
  }

  &.error {
    border-color: var(--error);
  }

  /* this is just a style wrapper around a select... */
  & *:not(select, .InfoIcon) {
    pointer-events: none;
  }

  &-content-column {
    flex: 1;
    height: 100%;
    min-height: var(--ArcDropdown-minHeight);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--ArcDropdown-verticalSpace) var(--ArcDropdown-horizontalSpace);

    .ArcDropdown-label-row {
      display: flex;
      justify-content: space-between;

      label {
        font-size: var(--ArcDropdown-labelSize);
      }

      .ArcDropdown-error-label {
        color: var(--error);
      }
    }

    .ArcDropdown-content-value {
      font-size: var(--ArcDropdown-fontSize);
      line-height: normal;
    }
  }

  &.no-value select {
    color: grey;
  }

  select:invalid {
    color: grey;
  }

  &-controls-column {
    min-height: var(--ArcDropdown-minHeight);
    flex: 0 0 var(--ArcDropdown-minHeight);
    border-left: 1px solid var(--color-border);
    background: var(--grey-0);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      margin-top: 6px;
      border: 6px solid transparent;
      border-top-color: var(--color-border-dark);
    }
  }
}
