.ArcTable-Header {
  th {
    position: sticky;
    top: 0;
    background: var(--secondary);
    color: var(--on-secondary);
    padding: var(--padding);
    cursor: default;
    z-index: 10;

    &.highlighted {
      background: var(--secondary-hover);
    }

    &:not(:last-of-type) {
      border-right: var(--border);
    }

    &.sortable {
      cursor: pointer;

      &:hover {
        background: var(--secondary-hover);
      }
    }
  }
}
