.ArcEdge {
  stroke-width: 3px;
  cursor: pointer;

  path {
    stroke: transparent;
    fill: var(--grey-4);
    opacity: 0.7;
  }

  polygon {
    fill: var(--secondary);
    stroke: var(--grey-5);
    stroke-width: 1px;
  }

  &:hover path {
    stroke: var(--primary);
  }
}
