.InfoIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--color-border);
  background: var(--secondary);
  color: var(--on-primary-variant);
  overflow: visible;

  .tooltip {
    position: absolute;
    top: 8px;
    right: 16px;
    transform: translateY(-50%);
    z-index: 2;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .tooltip-content {
      padding: 6px;
      background: var(--surface);
      color: var(--on-surface);
      border: 1px solid var(--color-border);
      box-shadow: var(--ARC-element-focus-shadow) rgba(var(--color-border-dark-rgb), 0.4);
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid var(--color-border-dark);
    }
  }
}
