@keyframes fadeIn1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.1;
  }
}

@keyframes fadeIn2 {
  from {
  }

  to {
    backdrop-filter: blur(0.15em);
  }
}

.ArcModal-backdrop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn2 100ms forwards;
  background: linear-gradient(
    hsla(0, 0%, 0%, 0.1),
    hsla(0, 0%, 0%, 0.5) 75%,
    hsla(0, 0%, 0%, 0.75)
  );
  overflow-y: auto;
  padding: 1rem;
}

.ArcModal-backdrop::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn1 1s forwards;
  z-index: -1;
}

.ArcModal-backdrop.is-shown {
  display: grid;
}
