/* Variables */
.ArcForm,
.ArcForm.ArcSizeDefault,
.ArcSizeDefault .ArcForm {
  --ArcForm-fontSize: var(--ARC-sizing-fontSize);
  --ArcForm-horizontalSpace: var(--ARC-sizing-horizontalSpace);
  --ArcForm-verticalSpace: var(--ARC-sizing-verticalSpace);
}

.ArcForm.ArcSizeCompact,
.ArcSizeCompact .ArcForm {
  --ArcForm-fontSize: var(--ARC-sizing-compact-fontSize);
  --ArcForm-horizontalSpace: var(--ARC-sizing-compact-horizontalSpace);
  --ArcForm-verticalSpace: var(--ARC-sizing-compact-verticalSpace);
}

.ArcForm.ArcSizeLarge,
.ArcSizeLarge .ArcForm {
  --ArcForm-fontSize: var(--ARC-sizing-large-fontSize);
  --ArcForm-horizontalSpace: var(--ARC-sizing-large-horizontalSpace);
  --ArcForm-verticalSpace: var(--ARC-sizing-large-verticalSpace);
}

.ArcForm {
  --ArcForm-row-marginBottom: var(--ArcForm-horizontalSpace);
  --ArcForm-row-marginSides: calc(0.5 * var(--ArcForm-row-marginBottom));
}

.ArcForm--tightPack {
  --ArcForm-row-marginBottom: var(--ArcForm-verticalSpace);
}

.ArcForm--airTightPack {
  --ArcForm-row-marginBottom: -1px;
  --ArcForm-row-marginSides: 0;
  padding-right: 1px;
}

/* Styles */
.ArcForm {
  &-row,
  &-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--ArcForm-row-marginSides);
    margin-right: var(--ArcForm-row-marginSides);

    > * {
      min-width: 100px;
      width: unset;
      flex: 1;
      margin-left: var(--ArcForm-row-marginSides);
      margin-right: var(--ArcForm-row-marginSides);
      margin-bottom: var(--ArcForm-row-marginBottom);
    }

    > .ArcTitle {
      margin: 0 0 var(--ArcForm-verticalSpace);

      .ArcForm--airTightPack & {
        margin: var(--ArcForm-verticalSpace) 0;
      }
    }

    .Toast:not(.hidden) {
      margin: 0 var(--ArcForm-row-marginSides) var(--ArcForm-row-marginBottom);
      transition: 200ms;
    }
  }

  .ArcForm--airTightPack &-row {
    > * {
      margin-right: -1px;
    }
  }

  &-description {
    font-size: var(--ArcForm-fontSize);
    text-align: center;
    margin: 0 0 var(--ArcForm-verticalSpace);
  }
}

/* this is here for now lolol */
.Toast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 36px;
  height: fit-content;
  font-size: 12px;
  padding: 10px;
  border: 1px solid var(--color-border);
  transition: 500ms;

  &.success {
    background: var(--tertiary);
  }

  &.loading,
  &.warning {
    background: var(--warning);
  }

  &.error,
  &.failure {
    background: var(--error);
  }

  &.hidden {
    transition: 200ms;
    min-height: 0;
    height: 0;
    padding: 0;
    border-color: transparent;
    border-width: 0;
  }
}

.ArcObjectList {
  > .text {
    margin-bottom: var(--ArcForm-verticalSpace);
    font-style: italic;
  }

  > .ArcButton {
    width: fit-content;
    margin: 0 auto var(--ArcForm-verticalSpace);
  }

  .ArcObjectList-memberHeader {
    display: flex;

    .flex-button-offset {
      flex: 0 0 32px;
    }

    .ArcTitle {
      flex: 1 1 1px;
      text-align: center;;
    }

    .ArcButton.remove-member {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      padding: 0;
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;;
      background: white;
      border: 1px solid var(--grey-2);

      svg {
        stroke: var(--grey-3);
        transform: rotate(45deg);
      }

      &:hover {
        background: var(--grey-2);

        svg {
          stroke: var(--error);
          stroke-width: 2px;
        }
      }
    }
  }
}
