/*
available variables

--ApplicationBanner-background-color
--ApplicationBanner-color
--ApplicationBanner-logo-color
--ApplicationBanner-temp-notification-color
*/

.ApplicationBanner {
  --i-background-color: var(--ApplicationBanner-background-color, var(--black));
  --i-color: var(--ApplicationBanner-color, var(--white));
  --i-logo-color: var(--ApplicationBanner-logo-color, var(--white));

  background-color: var(--i-background-color);
  padding: 1.5rem 3rem 1.5rem 6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  color: var(--i-color);
  grid-gap: 3rem;
  user-select: none;

  &-profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 1rem;

    &Image {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      overflow: hidden;
      box-shadow: inset 0 0 0 2px var(--i-color);
    }

    &Name {
    }
  }

  &-logo {
    --icon-color: var(--i-logo-color);
    width: 11rem;
  }

  &-notification {
    --icon-color: var(
      --ApplicationBanner-temp-notification-color,
      var(--yellow)
    );
    width: 2rem;
  }

  &-menu {
    --icon-color: var(--i-color);
  }
}
