.StationBanner {
  --background-color: var(--grey-5);
  --color: var(--white);
  --logo-color: var(--white);
  --notification-color: var(--yellow);

  background-color: var(--background-color);
  padding: 0 3rem 0 6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  color: var(--color);
  grid-gap: 2rem;
  user-select: none;

  &-title {
    font-family: Lato;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--yellow);
  }

  &-station {
    cursor: pointer;
    padding: 0.5rem 2rem;
    font-family: Oswald;
    font-size: 6rem;
    color: var(--white);

    &:hover {
      background-color: var(--grey-4);
    }

    &.is-selected {
      box-shadow: 0 0.2rem 2rem 0 hsla(0, 0%, 0%, 0.36);
      color: var(--grey-4);
      background-color: var(--yellow);
    }
  }
}
