.ArcBoxGraph-Edge {
  --color: orange;
  --icon-size: 5px;
  width: 100px;
  height: 0px;
  transform-origin: 0% 50%;
  border-bottom: 0.5px solid var(--color);
  border-top: 0.5px solid var(--color);
  position: absolute;

  &.hereditary {
    border-bottom: 0.5px dotted var(--color);
    border-top: 0.5px dotted var(--color);
  }

  .origin-icon {
    position: absolute;
    left: 0;
    margin-top: calc(-0.5 * var(--icon-size));
    margin-left: calc(-0.866 * var(--icon-size));
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 100vh;
    background: var(--color);
  }

  .terminus-icon {
    position: absolute;
    right: 0;
    margin-top: calc(-1 * var(--icon-size)); /* 0.866 comes from maths */
    transform: rotate(180deg) translate(-50%);
    border-top: calc(0.866 * var(--icon-size)) solid transparent;
    border-bottom: calc(0.866 * var(--icon-size)) solid transparent;
    border-right: var(--icon-size) solid var(--color);
  }
}
