.ArcConfirmModal {
  background-color: var(--theme-surface);
  color: var(--theme-surface-contrast);
  border-radius: 1rem;
  padding: 2rem;
  min-width: 28rem;
  max-width: 100%;
  display: inline-grid;
  grid-auto-flow: row;
  gap: 2rem;
  line-height: 1.25;
}

.ArcConfirmModal-message {
  display: block;
  margin: auto;
}

.ArcConfirmModal-buttonRow {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
}
