.ArcTable-SubTable {
  &.pinned-left,
  &.pinned-right {
    flex: 1 0 auto;
    display: flex;
    overflow: scroll;

    table {
      flex: 1 1 auto;
    }
  }

  &.scrollable,
  &.pinned-left {
    /* remove scrollbars from incorrect tables */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.pinned-left {
    border-right: var(--border);
  }

  &.scrollable {
    flex: 1 1 auto;
    overflow-x: auto;
    display: flex;
    border-right: var(--border);

    table {
      flex: 1 0 auto;
    }
  }

  table  { 
    border-collapse: collapse; 
    flex: 1 0 auto;
    z-index: 0;
  }

  .top-spacer,
  .bottom-spacer {
    td {
      padding: 0;
    }
  }
}
