.ArcCarousel-Entry {
  flex: 0 0 auto;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  > * {
    pointer-events: none;
  }

  .ArcCarousel-Entry-divider {
    flex: 0 0 auto;
    background: transparent;
    display: flex;
    width: 20px;
    height: 100%;
  }
}
