.ArcChartContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 80px;

  &-scrollOverflowElement {
    flex: 1 1 auto;
    display: flex;
    max-width: 100%;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    .y-axis-container {
      flex: 0 0 auto;
      height: 100%;
      position: relative;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .content-column {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
  
      .plot-area-container {
        flex: 1 1 auto;
        overflow: scroll;
        position: relative;
  
        &::-webkit-scrollbar {
          display: none;
        }
      }
  
      .x-axis-container {
        flex: 0 0 auto;
        position: relative;
        overflow: scroll;
      }
    }
  }

  &-zoomButtons {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 10;
    display: flex;
    transition: opacity 0.3s;
    opacity: 0;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &-button {
      border-radius: 100vw;
      border: 1px solid var(--grey-3);
      font-size: 24px;
      line-height: 24px;
      padding: 0 6px 3px;
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.3;
      transition: opacity 0.3s;
      cursor: pointer;
      background: transparent;

      &:hover {
        opacity: 1;
        background: var(--grey-1);
      }

      &:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }
}
