@import '../src/css/base.css';

* {
  -webkit-font-smoothing: antialiased;
}

#storybook-preview-iframe {
  --dark-box-color: rgba(198, 195, 221, 0.2);

  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      var(--dark-box-color) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, var(--dark-box-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--dark-box-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--dark-box-color) 75%);
  background-position: 0 0, 0 25px, 25px -25px, -25px 0;
  background-size: 50px 50px;
}

:root {
  --tabbutton-color: rgba(1, 127, 255, 0.8);
  --sidebar-icon-color: hsl(215, 0%, 0%, 0.6);
  --sidebar-selected-background-color: rgba(1, 127, 255, 1);
  --sidebar-selected-icon-color: #ffffff;
  --sidebar-selected-color: #ffffff;
  --sidebar-subheading-color: hsla(215, 70%, 40%, 1);
}

body {
  background-color: rgba(198, 195, 221, 0.2);
}

.sidebar-header {
  max-width: 200px;
}

.sidebar-subheading.sidebar-subheading {
  color: var(--sidebar-subheading-color);
  letter-spacing: 0.125ch;
}

.sidebar-item.selected {
  background-color: var(--sidebar-selected-background-color);
  color: var(--sidebar-selected-color);
}

.sidebar-svg-icon.sidebar-svg-icon {
  color: var(--sidebar-icon-color);
}

.selected .sidebar-svg-icon.sidebar-svg-icon {
  color: var(--sidebar-selected-icon-color);
}

.tabbutton.tabbutton-active {
  color: var(--tabbutton-color);
  border-bottom-color: var(--tabbutton-color);
}
