.ArcTable-Cell  {
  padding: var(--padding);
  box-sizing: border-box;

  &.highlighted {
    background: var(--cell-highlight-background);
  }

  &.hover {
    background: var(--cell-hover-background);
  }

  &:not(:last-of-type) {
    border-right: var(--border);
  }
}
