/* Variables */
.ArcTree,
.ArcTree.ArcSizeDefault,
.ArcSizeDefault .ArcTree {
  --ArcTree-minHeight: var(--ARC-sizing-displayElement-height);
  --ArcTree-fontSize: var(--ARC-sizing-fontSize);
  --ArcTree-labelSize: var(--ARC-sizing-labelSize);
  --ArcTree-horizontalSpace: var(--ARC-sizing-horizontalSpace);
  --ArcTree-verticalSpace: var(--ARC-sizing-verticalSpace);
}

.ArcTree.ArcSizeCompact,
.ArcSizeCompact .ArcTree {
  --ArcTree-minHeight: var(--ARC-sizing-compact-displayElement-height);
  --ArcTree-fontSize: var(--ARC-sizing-compact-fontSize);
  --ArcTree-labelSize: var(--ARC-sizing-compact-labelSize);
  --ArcTree-horizontalSpace: var(--ARC-sizing-compact-horizontalSpace);
  --ArcTree-verticalSpace: var(--ARC-sizing-compact-verticalSpace);
}

.ArcTree.ArcSizeLarge,
.ArcSizeLarge .ArcTree {
  --ArcTree-minHeight: var(--ARC-sizing-large-displayElement-height);
  --ArcTree-fontSize: var(--ARC-sizing-large-fontSize);
  --ArcTree-labelSize: var(--ARC-sizing-large-labelSize);
  --ArcTree-horizontalSpace: var(--ARC-sizing-large-horizontalSpace);
  --ArcTree-verticalSpace: var(--ARC-sizing-large-verticalSpace);
}

.ArcTree {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: var(--ArcTree-minHeight);
  padding: var(--ArcTree-verticalSpace) var(--ArcTree-horizontalSpace);
  border: 1px solid var(--color-border);
}
